<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
  var gitment = new Gitment({
    owner: 'xiaoDC',
    id: '{{ page.date }}',
    repo: 'xiaoDC.github.io',
    oauth: {
      client_id: '180d6605718d1095fd97',
      /* client_id: '2d24c41652751846a57d', */
      client_secret: '160e63d30cac752d518dc4eefd5f21c0443230b5',
      /* client_secret: 'ae79911add5cfa32198599cf852bdb427e445483', */
    },
  });
  gitment.render('gitmentContainer');
</script>
